<!-- <form (ngSubmit)="submit()">
  <input type="text" placeholder="Name" [(ngModel)]="form.name" name="name" required>
  <input type="tel" placeholder="Phone" [(ngModel)]="form.phone" name="phone" required>
  <input type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
  <textarea placeholder="Message" [(ngModel)]="form.message" name="message"></textarea>
  <button type="submit">Send</button>
</form>
<p *ngIf="success">Message sent successfully ✅</p> -->



<form #contactForm="ngForm" (ngSubmit)="submit(contactForm)">
  <input
    type="text"
    placeholder="Name"
    name="name"
    ngModel
    required>

  <input
    type="tel"
    placeholder="Phone"
    name="phone"
    ngModel
    required>

  <input
    type="email"
    placeholder="Email"
    name="email"
    ngModel>

  <textarea
    placeholder="Message"
    name="message"
    ngModel>
  </textarea>

  <input
    type="city"
    placeholder="City"
    name="city"
    ngModel>

    <input
    type="state"
    placeholder="state"
    name="state"
    ngModel>

    <input
    type="number"
    placeholder="Pincode"
    name="pincode"
    ngModel>

  <button type="submit">Send</button>
</form>

<p *ngIf="success">Message sent successfully ✅</p>
