.glass-section {
  display: flex;
  justify-content: center;
}

.glass-card {
  max-width: 850px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(18px);
  border-radius: 26px;
  padding: 55px;
  text-align: center;
  box-shadow: 0 40px 80px rgba(0,0,0,.6);
}

.glass-card strong {
  color: #ffcc00;
}

.glass-card p {
  color: #ddd;
  line-height: 1.9;
  font-size: 16px;
}
