.navbar {
  position: fixed;
  top: 0;
  width: 85%;
  height: 75px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  
}

.nav-links a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: transparent;
    flex-direction: column;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 15px;
    text-align:center;
  }
}
