<section class="hero">
  <div class="overlay"></div>

  <div class="hero-content">
    <h1>Magizh <span>Magic Touch</span></h1>
    <p>Professional Photo Booth for Weddings, Events & Celebrations</p>

    <div class="hero-buttons">
      <a routerLink="/contact" class="btn primary">📅 Check Availability</a>
      <a href="tel:+919345544255" class="btn secondary">📞 Call Now</a>
    </div>
  </div>
</section>

<app-services></app-services>
<!-- <app-testimonials></app-testimonials> -->

<a
  href="https://wa.me/919345544255"
  target="_blank"
  class="whatsapp-float">
  💬
</a>
